<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen text-white bg-zinc-900 w-full p-5">
    <div class="bg-zinc-800 p-4 rounded-[5px]">
        <a href="/" class="text-blue-500 text-sm inline-block mb-3">Go Back To Home</a>
      <h1 class="text-4xl font-bold mb-2"><%=filename %></h1>
      <p class="text-lg"><%=filedata %></p>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
